logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
public/node_modules/
public/dist
/node_modules/
/front/bower_components
/front/node_modules
/api/node_modules
/front/app/node_modules
/front/packages/
/front/dist/
/front/node_modules/
/front/app/bower_components/
/api/node_modules/
/front/public/dist/
