<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <div class="user-name-container">
                <h2>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{vm.userData.firstName + ' ' + vm.userData.lastName}}
                </h2>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h2>
                <button class="btn btn-sm btn-default pull-right" ng-click="vm.logOut()">Log out</button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <h2>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Total: 8:01
            </h2>
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <div class="timer-switch">
                <switch id="enabled" name="enabled" switchColor="#fff" ng-model="vm.toggleTimer" class="blue"></switch>
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <h2>
                <a href="javascript:void(0)" ui-sref="settings">
                    <i class="fa fa-cog pull-right" aria-hidden="true"></i>
                </a>
            </h2>
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <h2>
                <a href="javascript:void(0)" ui-sref="statistics">
                    <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
                </a>
            </h2>
        </div>
    </div>
</div>