<div class="container">
    <form form="login" class="user-log-in">
        <div class="row">
            <div class="form-group col-md-8" ng-class="{'has-error': login.email.invalid && login.email.touched}">
                <input type="text" class="form-control" name="email" placeholder="Email" required
                        ng-model="vm.userLogIn.email">
                <span class="help-block" ng-if="login.email.invalid && login.email.touched">email is required.</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <input type="password" class="form-control" name="password" placeholder="Password" required
                       ng-model="vm.userLogIn.password">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-lg btn-block btn-info" ng-disabled="login.invalid" ng-click="vm.submitLoginForm()">Log In</button>
            </div>
        </div>
    </form>
</div>