.user-list li{
    cursor: pointer;
}
.jumbotron .glyphicon{
    font-size: 80px;
}
.user-name-container{
    background-color: #7a29a3;
    border-radius: 5px;
    min-height: 50px;
    padding: 6px 12px;
    font-size: 28px;
}
.timer-switch{
    padding: 18px 6px;
}
