<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <div class="user-name-container">
                <h4>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Jack Test
                </h4>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <button class="btn btn-lg btn-default">Log out</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <h2>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Total: 8:01
            </h2>
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <div class="timer-switch">
                <ui-switch size="large" color="#7a29a3" switchColor="#fff" checked></ui-switch>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h2><i class="fa fa-bar-chart" aria-hidden="true"></i></h2>
        </div>
    </div>
</div>
<log-in></log-in>