<div class="container">
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <h3>
                <a href="javascript:void(0)" ui-sref="settings">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="col-xs-10 col-sm-10">
            <h3 class="center">
                Add new user
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 content style-scrollbar" style="top: 80px;">
            <form name="newUser">
                <div class="form-group" ng-class="{'has-error': firstName.invalid && firstName.touched}">
                    <label>First name</label>
                    <input type="text" class="form-control" name="firstName" required ng-model="vm.user.firstName" >
                </div>
                <div class="form-group" ng-class="{'has-error': lastName.invalid && lastName.touched}">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" required ng-model="vm.user.lastName">
                </div>
                <div class="form-group" ng-class="{'has-error': username.invalid && username.touched}">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" required ng-model="vm.user.username">
                </div>
                <div class="form-group" ng-class="{'has-error': email.invalid && email.touched}">
                    <label>E-mail</label>
                    <input type="email" class="form-control" name="email" required ng-model="vm.user.email">
                </div>
                <div class="form-group" ng-class="{'has-error': password.invalid && password.touched}">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" required ng-model="vm.user.password">
                </div>
                <div class="form-group"  ng-class="{'has-error': role.touched}">
                    <label>Role</label>
                    <select name="role" ng-model="vm.user.role" class="form-control" ng-options="key as item for (key, item) in vm.roles" required></select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" ng-disabled="newUser.invalid" ng-click="vm.createUser()" >Add new user</button>
                </div>
            </form>
        </div>
    </div>
</div>